@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <title></title>
</head>
<body>
 
        <header class="row justify-content-center"><h2>Moja aplikacija</h2></header>
        <table class="table table-hover">

            <tr>
                <th>Ime</th>
                <th>Prezime</th>
            </tr>

            <tr>
                <td>
                    Pero
                </td>

                <td>
                    Peric
                </td>
            </tr>

            <tr>
                <td>
                    Marko
                </td>
                <td>
                    Maric
                </td>
            </tr>

            <tr>
                <td>
                    Ana
                </td>
                <td>
                    Anic
                </td>
            </tr>


        </table>
   
        <footer class="row justify-content-center"><h2>Gabriel Ivicek</h2></footer>

</body>
</html>