<!DOCTYPE html>

<html>
<head>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Zadatak8/pocetna">Početna <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Zadatak8/zbrajanje">Zbrajanje</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/Zadatak8/oduzimanje">Oduzimanje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Zadatak8/mnozenje">Množenje</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/Zadatak8/dijeljenje">Dijeljenje</a>
                </li>
            </ul>

</div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
