
@{
    ViewData["Title"] = "oduzimanje";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>oduzimanje</h1>

<form action="~/Zadatak8/oduzimanje" method="post">

    <input type="text" name="prvi" value="" class="form-control" /> <br />

    <input type="text" name="drugi" value="" class="form-control" /> <br />

    <input type="submit" name="name" value="Oduzmi" class="btn btn-primary" /> <br />

    Rezultat: @ViewBag.rezultat
</form>